@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.cdnfonts.com/css/clover-2');
     
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --bg-color-primary: #1e1f23;
    --bg-color-secondary: #c99d7f;
    --font-color-primary: #A6A9AA;
    --font-color-secondary: #c99d7f;
    --font-color-tertiary: #1e1f23;
    --border-color-primary: #6b6f72;
    --border-color-secondary:#c99d7f;
    --padding-xs: .5rem; 
    --padding-small: 1rem;
    --padding-medium: 2rem;
    --margin-xs: .5rem;
    --margin-small: 1rem;
    --margin-medium: 2rem;
}

body {
    background-color: var(--bg-color-primary);
    color: var(--font-color-primary);
    font-family: "Nunito Sans", serif;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

h2 {
    font-family: 'clover', sans-serif;
    text-transform: lowercase;
    font-size: 2.25rem;
}

p {
    font-size: 1.5rem;
}

.container {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.btn-wrapper {
    display: flex;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    margin: var(--padding-xs);
    padding: var(--padding-xs);
    border-radius: 5px;
    background-color: var(--bg-color-primary);
    color: var(--font-color-secondary);
    border: 1px solid var(--border-color-secondary);
    font-size: 1rem;
}

button:hover {
    background-color: var(--bg-color-secondary);
    color: var(--font-color-tertiary);
    border: 1px solid var(--border-color-primary);
}

.advice-card {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: var(--margin-medium) auto;
    padding: var(--padding-small) var(--padding-medium);
    background-color: var(--bg-color-primary);    
    border: .5px solid var(--border-color-primary);
    border-radius: 10px;
}

.advice-card #advice {
    height: 125px;
}

.btn-wrapper {
    align-self: flex-end;
}

#advice-list {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 1rem;
    width: 600px;
    margin: 0 auto;
    padding: 0 var(--padding-medium);
    font-family: "Nunito Sans", serif;
    list-style-type: none;
}

.advice-col-one {
    display: grid;
    grid-template-columns: 1fr 100px 60px;
    padding-bottom: var(--padding-xs);
    border-bottom: .2px solid var(--border-color-primary);
}
